<header class="header">
  <div class="library__wrapper">
    <div class="menu__wrapper">
      <div class="header__logo">
        <img class="header__logo" src="/src/images/page_logo.png" alt="Page logo" />
        <span class="header__name">Filmoteka</span>
      </div>
      <ul class="header__nav">
        <li class="header__nav-item">
          <a class="header__nav-link" href="index.html">HOME</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link header__nav-link--is-active" href="library.html">MY LIBRARY</a>
        </li>
      </ul>
    </div>
    <div class="library__btns-wrapper">
      <div class="library__btns">
        <button class="library__btn library__btn--onclick" id="watched">Watched</button>
        <button class="library__btn" id="queue">queue</button>
      </div>
    </div>
  </div>
</header>