<!-- 
<div class="movies__details backdrop is-hidden " data-modal>
    <div class="movies__modal">
     <ul class="movies__list movies__list--modal ">
       <li>
         <figure >
           <img src="https://media.istockphoto.com/id/157638165/pl/zdj%C4%99cie/sznaucer-miniaturowy-w-garden.jpg?s=612x612&w=0&k=20&c=StKpLehuvSBEugpBoDeo7FElFAHdvNTiomESQGwYJUE=" alt="opis filmu" width ="240" height="357" class="movies__poster">
           <!-- <img src="${posterPath}" alt="Movie Poster" class="movies__poster"> -->
           <figcaption class="movies__info" class="movies__data">
             <p class="movies__title">Greyhound</p>
             <p><span class="movies__property">Vote/Votes</span> <span class="movies__property--vote">${vote_average}</span>/${vote_count} </p>
             <p><span class="movies__property">Popularity</span> ${popularity}</p>
             <p><span class="movies__property">Original Title</span> ${original_title}</p>
             <p><span class="movies__property">Genre</span>${genre_ids}</p>
             <p>ABOUT </p>
             <p class="movies__about">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae est eveniet cupiditate debitis? Dolor rerum doloribus sed dolorum itaque blanditiis distinctio animi consectetur adipisci non, temporibus atque veniam porro ipsam necessitatibus fugiat esse eius eaque ducimus voluptatum dignissimos natus voluptatem nam. Aliquam dignissimos officia debitis, ipsam facere eius iusto adipisci.</p>
            </figcaption>
         </figure>
       </li>
     </ul>
   <button type="button" class="movies__modal--button" data-modal-close>X</button>
   <div class="library__btns">
           <button class="library__btn library__btn--modal">ADD TO Watched</button>
           <button class="library__btn library__btn--modalqueue">ADD TO queue</button>
         </div>
    </div>
   </div>


<!-- <div id="info-modal" class="modal-wrapper">
  <div id="modal">
    <div id="close-modal" class="backdrop"></div>
    <div id="movie-card">
      <div id="content">
        <div id="left-content" class="img-posters">
          <div id="film-img" alt="Film Image">
            <button class="trailer-btn" id="film-id" type="button">
              <svg class="trailer-icon">
                <use class="trailer-icon" href=" "></use>
              </svg>
            </button>
          </div>
        </div>
        <div id="right-content">
          <h2 id="film-title"></h2>
          <div id="description">
            <div class="left-descr-content">
              Votes
              <div id="votes"></div>
            </div>
            <div class="left-descr-content">
              Popularity
              <div id="popul"></div>
            </div>
            <div class="left-descr-content">
              Original title
              <div id="origTitle"></div>
            </div>
            <div class="left-descr-content">
              Genre
              <div id="genre"></div>
            </div>
          </div>
          <div class="about-wrapper">
            <span>About</span>
            <div id="about"></div>
          </div>

          <div class="btn_wrapper" id="buttonWrapper">
            <button
              type="button"
              class="add-to-watched-btn music__btn"
              id="btn"
              data-value="add"
            >
              ADD TO WATCHED
            </button>

            <button
              type="button"
              class="add-to-queue-btn music__btn"
              id="btn"
              data-value="add"
            >
              ADD TO QUEUE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --> -->