
<section class="movies">
  <div class="container">

    <ul class="movies__list">

      <!-- *********** do skasowania!!! *********** -->

      <!-- <li class="movies__element">
        <figure>
          <img src="./images/demo.jpg" alt="opis filmu" class="movies__poster">
          <figcaption>
            <p class="movies__title">Greyhound</p>
            <p class="movies__type">Drama, Action | <span class="movies__year">2020</span></p>
          </figcaption>
        </figure>
      </li> -->
    </ul>


  </div>

</section>
