<!-- tymczasowy header do skasowania -->
<!--<div
  style="background-color: grey; height: 230px; margin-bottom: 20px; text-align: center; display: flex; justify-content: center; align-items: center;">
  HEADER
</div> -->
<!-- tymczasowy header do skasowania -->

<section class="movies">
  <div class="container">
    <ul class="movies__list">
      <!-- *********** do skasowania!!! *********** -->

      <!-- <li class="movies__element">
        <figure>
          <img src="./images/demo.jpg" alt="opis filmu" class="movies__poster">
          <figcaption>
            <p class="movies__title">Greyhound</p>
            <p class="movies__type">Drama, Action | <span class="movies__year">2020</span></p>
          </figcaption>
        </figure>
      </li> -->
    </ul>
  </div>
</section>
