.container {
  padding: 0 20px;
}

.movies {
  padding-top: 20px;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    &--modal {
      width: calc(100% - 40px);
      padding: 48px 0 40px 0;
    }
  }

  &__element {
    font-weight: 500;
    font-size: 12px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__poster {
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 280px;
    height: 402px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__title {
    text-transform: uppercase;
    line-height: 1.16;
  }

  &__type {
    color: $orange;
    line-height: 1.33;
  }

  &__element:hover {
    text-shadow: 0 4px 4px $movie-shadow;
    cursor: pointer;
  }

  &__element:hover &__poster {
    box-shadow: 0 5px 5px $movie-shadow;
  }
  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
  }
  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    // padding: 48px 0 40px 0;
    background: $modal-bg;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: right;
    transform: scale(1);
    opacity: 1;
    visibility: 1;
    pointer-events: initial;
    transition: transform 500ms ease;
    transform: scale(1);
    position: absolute;

    &--button {
      border: none;
      border-radius: 50%;
      background: rgb(226, 217, 222);
      padding: 0;
      margin-top: 18px;
      margin-right: 18px;
      cursor: pointer;
      padding: 10px;
      position: relative;
      top: -950px;
      left: 100px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: space-between;
    align-items: start;
  }

  &__property {
    color: $grey-second;
    font-weight: 500;
    &--vote {
      background-color: $orange-bg;
      padding: 1px 9px 1px 10px;
      border-radius: 10px;
    }
  }

  &__about {
    text-align: justify;
  }
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
}

.backdrop {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
}

@media screen and (min-width: $tablet) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .movies {
    padding-top: 59px;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 32px;
      padding-left: 10px;
    }

    &__poster {
      max-width: 336px;
      height: 455px;
      margin-bottom: 8px;
    }
    &__modal {
      width: calc(100% - 64px);

      // &--button{
      //   top: 130px;
      //   left:690px;
      // }}
    }
  }

  @media screen and (min-width: $desktop) {
    .container {
      max-width: 1280px;
    }

    .movies {
      &__list {
        gap: 16px;
        &--modal {
          flex-direction: column;
        }
      }

      &__element {
        padding-bottom: 16px;
      }

      &__poster {
        max-width: 395px;
        height: 574px;
        margin-bottom: 12px;
      }
      &__modal {
        width: calc(100% - 410px);
        // &--button{
        //   top: 130px;
        //   left: 1120px;
        // }
      }
    }
  }
}
